#root{
  justify-content: center;
  display: flex;
}

.flex-container{
  background-color: black;
  width:280px;
  height:466px;
}
.result{
  width:auto;
  height:25%;
}

.import{
  background-color: aqua;
  width: 280px;
  height:75%;
  display: flex;
}

.import .import1{
  width:210px;
  display:flex;
  flex-direction: column;
}

.import1 .under {
  display:flex;
  flex-wrap: wrap;
}

.on button{
  background-color: #D3D3D3;
}

.import .import2{
  width:70px;
  display:flex;
  flex-direction: column;
}

.import2 button{
  background-color: #FF8C00;
}

.import button{
  width:70px;
  height:70px;
  border:1px solid black;
  font-size: 30px;
  text-align: center;
}

@media only screen and(min-width:428px){
  .import button {
    border:1px solid black;
  }
}
